@media (max-width:1280px){
    .container-1 {
        width: 100%;
        
    }
    .navbar {
        width: 80%;
    }

    section {
        margin-left: 500px;
        
    }

    .section2 {
        margin-left: 500px;
        .head{
            margin-left: 500px;
        }
    }

    .footer {
        a{
            margin-left: 500px;
        }
        h2 {
            margin-left: 500px;
        }
    }

    .wrap {
        margin-left: 500px;
    }

    .slide-image {
        margin-left: 500px;
    }

    .section5 {
        margin-left: 500px;
        h4 {
            margin-left: 500px;
        }
        h2 {
            margin-left: 500px;
        }
        
    }

    .cards8 {
        margin-left: 500px;
        li {
            margin-left: 500px;
        }
    }

}


@media (max-width:768){
    .section4 {
        margin-left: 500px;
    }

}